@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.custom-social-proof {
  position: fixed;
  z-index: 9999999999999 !important;
  font-family: "Verdana", sans-serif;
}
.custom-social-proof .custom-notification {
  border: 0;
  text-align: left;
  z-index: 99999;
  box-sizing: border-box;
  font-weight: 400;
  box-shadow: 0 0 1px rgba(36,35,40,.2), 0 1px 2px rgba(36,35,40,.2), 0 8px 50px rgba(36,35,40,.2);
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.2);
  width: 300px;
  height: 95px;
}
.custom-social-proof .custom-notification .custom-notification-container {
  display: flex !important;
  align-items: center;
  padding: 15px;
  height: 65px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
  max-height: 70px;
  width: 60px;
  overflow: hidden;
  padding-right: 5px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 5px;
  border-radius: 0 6px 6px 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px;
  line-height: 18px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
  margin-top: 2px !important;
  display: block !important;
  font-size: 12px !important;
  opacity: 0.8;
}
.custom-social-proof .custom-notification .verify {
  color: blue;
  font-family: "NBI Pro Bold", sans-serif;
  font-size: 13px;
  line-height: 25px;
}
.custom-social-proof .custom-notification .verify img {
  width: 13px;
}
.custom-social-proof .custom-notification .custom-close {
  position: absolute;
  top: 10px;
  padding: 1px;
  right: 20px;
  width: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.custom-social-proof .custom-notification:hover .custom-close {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s;
}
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bounceBottom-enter-active {
	animation: bounceBottomUp 2s linear both;
}

@keyframes bounceBottomUp {
	0% {
	 transform: matrix(1, 0, 0, 1, 0, 100);
  }
	4.1% {
	  transform: matrix(1, 0, 0, 1, 0, 41.971);
  }
	8.11% {
	  transform: matrix(1, 0, 0, 1, 0, 10.549);
  }
	12.11% {
	  transform: matrix(1, 0, 0, 1, 0, -1.843);
  }
	16.12% {
	  transform: matrix(1, 0, 0, 1, 0, -4.336);
  }
	27.23% {
	  transform: matrix(1, 0, 0, 1, 0, -.784);
  }
	38.34% {
	  transform: matrix(1, 0, 0, 1, 0, .104);
  }
	60.56% {
	  transform: matrix(1, 0, 0, 1, 0, -.002);
  }
	82.78% {
	  transform: matrix(1, 0, 0, 1, 0, 0);
  }
	to {
	 transform: matrix(1, 0, 0, 1, 0, 0);
  }

}

 .bounceBottom-leave-active {
	animation: bounceBottomDown 2s linear both;
}

 @keyframes bounceBottomDown {
	0% {
		transform: matrix(1, 0, 0, 1, 0, 0);

	}
	 4.2% {
		transform: matrix(1, 0, 0, 1, 0, 54.927);

	}
	 12.51% {
		transform: matrix(1, 0, 0, 1, 0, 103.215);

	}
	 16.62% {
		transform: matrix(1, 0, 0, 1, 0, 106.331);

	}
	 27.73% {
		transform: matrix(1, 0, 0, 1, 0, 150.285);

	}

	 to {
		transform: matrix(1, 0, 0, 1, 0, 150);

	}

}

.bounceTop-enter-active {
	animation: bounceTopDown 1100 down linear both;
}

 @keyframes bounceTopDown {
	0% {
		transform: matrix(1, 0, 0, 1, 0, -150);

	}
	 8.11% {
		transform: matrix(1, 0, 0, 1, 0, -130.549);

	}
	 12.11% {
		transform: matrix(1, 0, 0, 1, 0, -111.843);

	}
	 27.23% {
		transform: matrix(1, 0, 0, 1, 0, -50.784);

	}
	 38.34% {
		transform: matrix(1, 0, 0, 1, 0, -5.104);

	}
	 60.56% {
		transform: matrix(1, 0, 0, 1, 0, -3.002);

	}
	 to {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

 .bounceTop-leave-active {
	animation: bounceTopUp 2s linear both;

}

 @keyframes bounceTopUp {
	0% {
		transform: matrix(1, 0, 0, 1, 0, 0);

	}
	 4.1% {
		transform: matrix(1, 0, 0, 1, 0, -58.029);

	}
	 12.11% {
		transform: matrix(1, 0, 0, 1, 0, -101.843);

	}
	 16.12% {
		transform: matrix(1, 0, 0, 1, 0, -111.336);

	}
	 27.23% {
		transform: matrix(1, 0, 0, 1, 0, -130.784);

	}
	 58.34% {
		transform: matrix(1, 0, 0, 1, 0, -140.896);

	}

	 to {
		transform: matrix(1, 0, 0, 1, 0, -150);

	}
}
/*
#social_proof {
	top: -15px !important;
} */

#block, #mainEnkodeDiv {
	position: fixed;
	width: 325px;
	display: inline-block;
	height: 96px;
}
